<div>
<%= form_with model: @items do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br />
     <%= form.label :category %>
    <%= form.text_field :category %>
    <br />
     <%= form.label :colour %>
    <%= form.text_field :colour %>
    <br />
    <%= form.label :texture %>
    <%= form.text_field :texture %>
    <br />
     <%= form.label :days_to_cultivate %>
    <%= form.text_field :days_to_cultivate %>
    <br />
    <%= form.label :price %>
    <%= form.text_field :price %>
    <br />
    <%=form.submit "submit"%>

    <%end%>
</div>